<div class="container-fluid">



  <div fxLayout="row wrap" fxLayoutGap="3px" fxLayoutAlign="center center" class="content">
  <div *ngFor="let image of images">
  <div (click)="open(image.imageurl, image.name)"   class="card imageCard" style="width: 400px;">
    <img class="thumbnail" [src]="image.imageurl">
    <div class="card-footer text-center">
      <p class="mb-0">{{image.properties.createdOn | date: 'd/M/yy, h:mm:ss a z'}} </p>
      <p class="small mb-0">{{image.name}}</p>
<!--      <a [href]="image.blob"  target="_blank" >Download</a>-->
    </div>
  </div>
</div>
</div>
</div>


<!--(click)="viewLargerImage(image)"-->
